<h3 mat-dialog-title>Scorecard</h3>
<mat-dialog-content>
  <h4>Hire-o-meter</h4>
  <div class="row rating-blocks">
    <div *ngFor="let block of ratingBlocks" class="col-lg {{block.status}}">
      <strong>{{block.lb}}</strong> &mdash; <strong>{{block.ub}}</strong> <br/>
      <i>{{block.desc}}</i>
    </div>
  </div>
  <pre #card>{{ scoreCardText }}</pre>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCopyClipboard(card)">
    <i class="material-icons">file_copy</i>
    <i class="material-icons" *ngIf="showSuccess">check</i>
    Copy to Clipboard
  </button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
