<nav>
  <div class="row">
    <div class="col-md-3">
      <a href="/">
        <div class="brand">
          <div>
            <i class="material-icons">face</i>
          </div>
          <div>
            <h1>Rarity</h1>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-7" role="menu">
      <div class="row" *ngIf="sessionEstablished$ | async">
        <div class="col-md-2">
          <a routerLink="/editor/{{sessionToken$ | async}}"><h2>Editor</h2></a>
        </div>
        <div class="col-md-2">
          <a routerLink="/board"><h2>Board</h2></a>
        </div>
        <!--
        <div class="col-md-2">
          <a routerLink="/editor/{{sessionToken$ | async}}"><h2>Analytics</h2></a>
        </div>
        <div class="col-md-6 end-md">
          <a routerLink="/editor/{{sessionToken$ | async}}"><h2>CMS</h2></a>
        </div>
        -->
      </div>
    </div>
    <div class="col-md-2 vh-offset-1 end-md">
      <app-new-session></app-new-session>
    </div>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="row">
    <div class="col-md-4">
      <h3>About</h3>
      <p>A collaborative editor</p>
    </div>
    <div class="col-md-4">
      <h3>Hosting</h3>
      <p>Serverless application hosted on S3, with API gateway and AWS Lambda.</p>
    </div>
    <div class="col-md-2">
      <h3>Tech Stack</h3>
      <ul>
        <li>Angular 7</li>
        <li>Angular Material</li>
        <li>Express JS</li>
        <li>Troposphere</li>
        <li>NodeJS</li>
        <li>Python</li>
        <li>Apache ActiveMQ</li>
      </ul>
    </div>
    <div class="col-md-2">
      <h3>Others</h3>
      <ul>
        <li>Web fonts from Google</li>
        <li>Material Icons</li>
        <li>Jasmine</li>
        <li>Karma</li>
      </ul>
    </div>
  </div>
</footer>
