$base-unit: rem;
$color-palette: (
  bg: #fff,
  fg: #394A58,
);
$font-family-heading: "Roboto Condensed", "Arial Black";
$font-family-text: Roboto, Arial;
$typefaces: (
  heading: (
    font-family: $font-family-heading,
  ),
  text: (
    font-family: $font-family-text,
  )
);
