@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import "variables";
@import "mixins";
@import "theme";

@include viewport();

html {
  @include define-type-sizing;
  @include typeface(text);
};

body {
  background-color: $primary-color;
}

h1, h2, h3 {
  @include typeface(heading);
}

nav {
  min-height: $min-nav-height;
}

main {
  min-height: $min-main-height;
}

footer {
  min-height: $min-footer-height;
}

form {
  fieldset {
    padding: 2.0rem 1.5rem;
    .stretch-children {
      * {
        width: 100%;
      }
    }
    .action-bar {
      padding-top: 1.5rem;
    }
    mat-form-field {
      margin-top: 1.5rem;
    }
  }
}

.row {
  @for $offset from 1 to 30 {
    .vh-offset-#{$offset} {
      top: 3vh * $offset;
      position: relative;
    }

    .fixed-height-#{$offset} {
      height: 1rem * $offset;
    }
  }
}

.panel {
  margin: 1rem 0;
}

.mat-card-message {
  padding: 1rem !important;
  .mat-card-header {
    .mat-card-avatar {
      width: 24px;
      height: 24px;
    }
    .mat-card-header-text {
      .mat-card-title {
        margin-bottom: 0;
      }
    }
  }
}

.mat-card-error {
  background-color: $red;
}
