@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import "variables";
@import "mixins";
@import "theme";

@include viewport();

html {
  @include define-type-sizing;
  @include typeface(text);
};

h1, h2, h3 {
  @include typeface(heading);
}

nav {
  min-height: $min-nav-height;
}

main {
  min-height: $min-main-height;
}

footer {
  min-height: $min-footer-height;
}
